@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Source+Sans+Pro:ital@1&family=Teko&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  /* height: 100vh;  */
  /* max-height: 1000px !important; */
  width: 100vw;
  overflow: hidden;
  /* color: #1d2030; */
  background-image: radial-gradient(
    1800px 1100px at center,
    #0e143d,
    #000000fc,
    #111010e2
  );
  max-height: 1000px !important;

  z-index: 2;
}

.container {
  min-height: 182vh;
  min-width: 190vw;
  /* max-height: 1000px !important; */

  position: absolute;
  /* left: -132%; */
  animation-name: body;
  animation-duration: 70s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-direction: alternate;
  z-index: 1;
}

.indexing {
  z-index: 20;
}

@keyframes body {
  0% {
    transform: rotate3d(1, 2, 3, 30deg);
  }

  100% {
    transform: rotate3d(1, 2, 3, 40deg);
  }
}

.stars {
  min-height: 170%;
  min-width: 160%;
  filter: blur(0px);
  opacity: 1;
  z-index: 20;
  background: bottom
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png);
  animation-name: stars;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-direction: alternate-reverse;
}
.stars2 {
  position: absolute;
  top: 40%;
  min-height: 100%;
  min-width: 120%;
  opacity: 1;
  z-index: 20;
  background: bottom
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png);
  animation-name: stars2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-direction: alternate-reverse;
  /* transform: rotate(-8deg); */
}

.sitara {
  min-height: 100%;
  min-width: 120%;
  position: absolute;
  top: 48%;
  left: 4%;
  z-index: 20;
  opacity: 1;
  animation-name: sitara;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-duration: 3;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  transform: rotate(40deg);
  background: center
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png);
}

.sitara2 {
  min-height: 100%;
  min-width: 120%;
  position: absolute;
  z-index: 20;
  top: -31%;
  opacity: 0.8;
  animation-name: sitara;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  background: top
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png);
}

.sitara3 {
  min-height: 150%;
  min-width: 210%;
  position: absolute;
  z-index: 20;
  top: -80%;
  opacity: 1;
  animation-name: sitara;
  animation-timing-function: ease-in;
  animation-delay: 0.61s;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
  background: left
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png);
  left: 12%;
}

@keyframes stars {
  0% {
    filter: blur(0px);
    opacity: 0.91;
    box-shadow: 1px 1px 20px 1px rgb(160, 156, 156) 1px 1px 30px 1px
      rgb(160, 156, 156) 1px 1px 20px 1px rgb(160, 156, 156) 1px 1px 30px 1px
      rgb(160, 156, 156);
  }
  50% {
    opacity: 0.8;
    filter: blur(6px);
    box-shadow: 1px 1px 20px 1px whitesmoke 1px 1px 20px 1px whitesmoke 1px 1px
      20px 1px whitesmoke 1px 1px 20px 1px whitesmoke;
  }
  100% {
    filter: blur(10px);
    opacity: 0.1;
  }
}

@keyframes stars2 {
  0% {
    filter: blur(0px);
    opacity: 0.91;
    box-shadow: 1px 1px 20px 1px rgb(160, 156, 156) 1px 1px 30px 1px
      rgb(160, 156, 156) 1px 1px 20px 1px rgb(160, 156, 156) 1px 1px 30px 1px
      rgb(160, 156, 156);
  }
  50% {
    opacity: 0.75;
    filter: blur(2px);
    box-shadow: 1px 1px 20px 1px whitesmoke 1px 1px 20px 1px whitesmoke 1px 1px
      20px 1px whitesmoke 1px 1px 20px 1px whitesmoke;
  }
  100% {
    filter: blur(10px);
    opacity: 0.91;
  }
}

@keyframes sitara {
  0% {
    filter: blur(0px);
    opacity: 1;
    /* transform: rotate(40deg); */
    box-shadow: 1px 1px 20px 1px rgb(160, 156, 156) 1px 1px 30px 1px
      rgb(160, 156, 156) 1px 1px 20px 1px rgb(160, 156, 156) 1px 1px 30px 1px
      rgb(160, 156, 156);
  }
  50% {
    opacity: 0.8;
    filter: blur(2px);
    /* transform: rotate(41deg); */

    box-shadow: 1px 1px 20px 1px whitesmoke 1px 1px 20px 1px whitesmoke 1px 1px
      20px 1px whitesmoke 1px 1px 20px 1px whitesmoke;
  }
  100% {
    filter: blur(4px);
    opacity: 0.98;
    /* transform: rotate(42deg);         */
  }
}

@keyframes sitara2 {
  0% {
    filter: blur(0px);
    opacity: 1;
    box-shadow: 1px 1px 20px 1px rgb(160, 156, 156) 1px 1px 30px 1px
      rgb(160, 156, 156) 1px 1px 20px 1px rgb(160, 156, 156) 1px 1px 30px 1px
      rgb(160, 156, 156);
  }
  50% {
    opacity: 0.6;
    filter: blur(2px);
    box-shadow: 1px 1px 20px 1px whitesmoke 1px 1px 20px 1px whitesmoke 1px 1px
      20px 1px whitesmoke 1px 1px 20px 1px whitesmoke;
  }
  100% {
    filter: blur(4px);
    opacity: 0.98;
  }
}

footer {
  color: #fff;
  z-index: 100;
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 3px;
  /* cursor: pointer; */
  display: flex;
  width: 100vw;
  justify-content: center;
  position: absolute;
  bottom: 5vh;
  /* transform: translateX(-60px);   */
  /* margin-right: ; */
  /* margin-left: 16em; */
  /* left: 40% !important; */
}

footer span img {
  transform: translate(-9px, 10px);
  height: 40px;
  width: 40px;
}

footer a {
  color: white;
  text-decoration: none;
  text-align: center;
  /* margin-right: 10%; */
  text-align: center;
}

footer a:hover {
  color: grey;
}

footer div span:hover img {
  /* padding:2px; */
  border: 4px dotted rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 50%;
  transition: 0.71s;
  color: grey !important;
}

div.menu {
  /* overflow: hidden; */
  margin-top: 2em;
  height: 4vh;
  /* padding: 10px; */
  width: 100% !important;
  display: flex;
  justify-content: end;
  /* z-index: 500; */
}

div.menu section.menuContainer {
  height: 90%;
  /* margin: 5px; */
  /* width: 1em; */
  justify-content: end;
  text-align: center;
  /* padding: 3px; */
  /* background-color: green; */
  display: grid;
  cursor: pointer;
  /* z-index: 190; */
  z-index: 500;

  transition: 0.4px !important;
}

p.line1,
p.line2 {
  /* position: absolute; */
  /* top: 3em;
  right: 2em; */
  min-width: 50px;
  max-height: 0.98vh;
  min-height: 0.88vh;
  border-radius: 5px;
  max-width: 6vw;
  background-color: aliceblue;
  z-index: 191;
  transition: 0.4s ease-out;
  z-index: 3;
}

.insideOfOverlay {
  justify-content: center;
  justify-items: center;
  transform: translateY(24vh);
  /* font-family:monospace ; */
  letter-spacing: 2px;
  font-weight: 900;
  color: whitesmoke;
  font-size: 50px;
  display: grid;
  row-gap: 20px;
  z-index: 501;
  /* cursor: pointer !important; */
}

.insideOfOverlay a {
  color: white;
  text-decoration: none;
  /* cursor: pointer !important; */
}

#about {
  cursor: pointer;
}

p.links a:hover {
  letter-spacing: 5px;

  text-shadow: 0 2px 3px #a09999, 1px 3px 4px rgb(121, 121, 121),
    1px 2px 3px #494848, 3px 2px 10px #4d4d4d, 3px 5px 4px #dccece;

  color: #ffffff !important;
}

.hide {
  display: none;
  z-index: 200;
}

.overlay {
  height: 100vh;
  width: 100vw !important;
  font-size: 44px;
  font-family: sans-serif;
  font-weight: 900;
  display: grid;
  transition: 0.6s ease-in-out;
  background-color: 000000;
  padding-top: 33vh;
  text-align: center;
  justify-content: center;
  justify-items: center;
  /* border-radius: 40px; */
  transition: 0.781s !important;
  animation-name: hojabhai;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-direction: alternate;
  color: white;
  cursor: pointer !important;
  background-color: #000;
  opacity: 0.6;
  transition: 2.24s;
  cursor: pointer;
  position: absolute;
  top: 0;
  z-index: 3;
}

#aboutID {
  color: red;
}

.hidden {
  opacity: 0;
  transition: 0.4s ease-out;
  pointer-events: all;
}

.cross1 {
  transform: rotate(-56deg);
  margin-top: 12px;
  /* transition: .81s ease-out !important; */
  z-index: 3;
}

.cross2 {
  transform: rotate(40deg);
  margin-bottom: 12px;
  z-index: 3;
  /* transition:  .81s ease-out !important; */
}

.menucontainerCross {
  z-index: 3;

  transform: rotate(7deg);
}
